.portContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  text-align: center;
}

.project {
  background-color: rgb(33, 147, 176);
  background: linear-gradient(
    90deg,
    rgba(33, 147, 176, 1) 0%,
    rgba(109, 195, 237, 1) 100%
  );
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.project:hover {
  border-color: var(--color-black);
  background: var(--color-black);
  color: var(--color-bg);
  transition: var(--transition);
}

.projectImg {
  border-radius: 1.5rem;
}

.project h3 {
  margin: 1.2rem 0 2rem;
}

.projectBtns {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .portContainer {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .portContainer {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
